In [1]:
import pandas as pd

In [5]:
!ls miles

2009_hm80.xls 2012_hm80.xls 2014_hm80.xls 2016_hm80.xls 2018_hm80.xls
2011_hm80.xls 2013_hm80.xls 2015_hm80.xls 2017_hm80.xls

In [43]:
level1 = ['RURAL', "URBAN"]
level2 = ['INTERSTATE', 'OTHER FREEWAYS AND EXPRESSWAYS','OTHER PRINCIPAL ARTERIAL', 'MINOR ARTERIAL', 'MAJOR COLLECTOR', 'MINOR COLLECTOR', "LOCAL", "TOTAL"]
files = "2009_hm80.xls 2012_hm80.xls 2014_hm80.xls 2016_hm80.xls 2018_hm80.xls 2011_hm80.xls 2013_hm80.xls 2015_hm80.xls 2017_hm80.xls".split(" ")

In [190]:
print(files)
total_data = []

for file in files:
    print(file)
    year = int(file.split("_")[0])
    cols = pd.MultiIndex.from_product([level1, level2])

    path = "./miles/{}".format(file)
    data_1 = pd.read_excel(path, skiprows=13,sheet_name="A", na_values=0)    
    cols = ['state'] + cols.to_list() + [('TOTAL', "TOTAL")]
    data_1.columns = cols
    data_1['date'] = year
    data_1 = data_1.drop(index=[53, 54])
    total_data.append(data_1)

['2009_hm80.xls', '2012_hm80.xls', '2014_hm80.xls', '2016_hm80.xls', '2018_hm80.xls', '2011_hm80.xls', '2013_hm80.xls', '2015_hm80.xls', '2017_hm80.xls']
2009_hm80.xls
2012_hm80.xls
2014_hm80.xls
2016_hm80.xls
2018_hm80.xls
2011_hm80.xls
2013_hm80.xls
2015_hm80.xls
2017_hm80.xls

In [191]:
tot_df = pd.concat(total_data)
def change(string):
    string = string.replace("2/", "")
    string = string.replace("(2)", "")
    if string == "Dist. of Columbia":
        return "District of Columbia"
    return string.strip()
tot_df['state'] = tot_df['state'].map(change)

all_states = tot_df['state'].unique()
print(all_states)

['Alabama' 'Alaska' 'Arizona' 'Arkansas' 'California' 'Colorado'
 'Connecticut' 'Delaware' 'District of Columbia' 'Florida' 'Georgia'
 'Hawaii' 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas' 'Kentucky'
 'Louisiana' 'Maine' 'Maryland' 'Massachusetts' 'Michigan' 'Minnesota'
 'Mississippi' 'Missouri' 'Montana' 'Nebraska' 'Nevada' 'New Hampshire'
 'New Jersey' 'New Mexico' 'New York' 'North Carolina' 'North Dakota'
 'Ohio' 'Oklahoma' 'Oregon' 'Pennsylvania' 'Rhode Island' 'South Carolina'
 'South Dakota' 'Tennessee' 'Texas' 'Utah' 'Vermont' 'Virginia'
 'Washington' 'West Virginia' 'Wisconsin' 'Wyoming' 'U.S. Total'
 'Puerto Rico']

In [192]:
tot_df

,state,"(RURAL, INTERSTATE)","(RURAL, OTHER FREEWAYS AND EXPRESSWAYS)","(RURAL, OTHER PRINCIPAL ARTERIAL)","(RURAL, MINOR ARTERIAL)","(RURAL, MAJOR COLLECTOR)","(RURAL, MINOR COLLECTOR)","(RURAL, LOCAL)","(RURAL, TOTAL)","(URBAN, INTERSTATE)","(URBAN, OTHER FREEWAYS AND EXPRESSWAYS)","(URBAN, OTHER PRINCIPAL ARTERIAL)","(URBAN, MINOR ARTERIAL)","(URBAN, MAJOR COLLECTOR)","(URBAN, MINOR COLLECTOR)","(URBAN, LOCAL)","(URBAN, TOTAL)","(TOTAL, TOTAL)",date
0,Alabama,539.000,NaN,2146.000,3806.000,2227.000,32.000,1.000,8751.000,366.000,41.000,988.000,763.000,30.000,NaN,NaN,2188.000,10939.000,2009
1,Alaska,1004.363,NaN,806.509,436.455,1274.501,853.292,390.250,4765.370,78.467,NaN,68.693,197.040,229.640,NaN,66.896,640.736,5406.106,2009
2,Arizona,980.000,NaN,1134.000,1135.000,1772.000,412.000,340.000,5773.000,188.000,169.000,304.000,103.000,33.000,NaN,185.000,982.000,6755.000,2009
3,Arkansas,450.000,NaN,2231.000,2935.000,8936.000,262.000,199.000,15013.000,206.000,101.000,555.000,455.000,37.000,NaN,65.000,1419.000,16432.000,2009
4,California,1281.786,NaN,3377.614,5290.764,809.572,47.148,1.176,10808.060,1178.106,1486.727,1246.428,405.699,66.389,NaN,0.654,4384.003,15192.063,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48,West Virginia,274.741,0.456,1016.255,1346.692,5522.670,2152.616,20110.595,30424.025,193.489,14.264,394.433,674.989,676.307,61.309,1963.576,3978.367,34402.392,2017
49,Wisconsin,512.340,203.360,2865.460,4608.769,1383.590,15.060,7.500,9596.079,364.240,339.670,1227.310,209.941,7.500,NaN,NaN,2148.661,11744.740,2017
50,Wyoming,807.478,NaN,1921.832,951.415,2164.197,205.027,211.346,6261.295,105.771,2.735,205.123,66.814,64.132,7.603,15.459,467.637,6728.932,2017
51,U.S. Total,27824.457,6515.275,88851.184,124195.995,182006.013,59939.148,122449.781,611781.853,17745.079,10918.639,46421.824,34804.801,25184.007,2099.880,32656.570,169830.800,781612.653,2017
52,Puerto Rico,44.060,NaN,46.770,225.415,225.669,241.800,NaN,783.714,257.248,55.817,385.344,876.445,1047.832,NaN,NaN,2622.686,3406.400,2017

In [193]:
for state in all_states:
    print(state)
    dta = tot_df.loc[tot_df['state'] == state]
    index = dta.columns.to_list()
    index.remove('date')
    index.insert(0, "date")
    dta = dta[index].sort_values(by="date")
    dta.to_csv("./miles/{}_miles.csv".format(state), index=False)

Alabama
Alaska
Arizona
Arkansas
California
Colorado
Connecticut
Delaware
District of Columbia
Florida
Georgia
Hawaii
Idaho
Illinois
Indiana
Iowa
Kansas
Kentucky
Louisiana
Maine
Maryland
Massachusetts
Michigan
Minnesota
Mississippi
Missouri
Montana
Nebraska
Nevada
New Hampshire
New Jersey
New Mexico
New York
North Carolina
North Dakota
Ohio
Oklahoma
Oregon
Pennsylvania
Rhode Island
South Carolina
South Dakota
Tennessee
Texas
Utah
Vermont
Virginia
Washington
West Virginia
Wisconsin
Wyoming
U.S. Total
Puerto Rico